<div class="block">
  <div class="content">
    <div class="page_header">
      <div class="page_header_links">
        <a href="#">New message</a> |
        <a href="#">New to-do list</a> |
        <a href="#">New milestone</a>
      </div>
      New <%= model_name %>
    </div>
    <div class="inner">
      <%% form_for :<%= model_name.downcase  %>, :url => <%= controller_routing_path %>_path, :html => { :class => :form } do |f| -%>
        <%%= render :partial => "form", :locals => {:f => f} %>
      <%% end -%>
    </div>
  </div>
  <div class="bottom">&nbsp;</div>
</div>

<%% content_for :sidebar, render(:partial => 'sidebar') -%>